# Miscellanious
.tests
dlts
rakrs

# Added by cargo
target
Cargo.lock

# Added by logger
server.log

# added by debugger
*.debug

# tests that enable superflat and chunk loading
src/network/chunk
src/network/handler/game
src/network/handler/encrypt
src/world/biomes
src/world/populators
src/world/storage
src/world/generator
src/world/blocks
src/world/chunk
src/world/manager.rs